body {
  margin: 0;
  padding: 0;
  background-color: #60abf0;
}
header {
  width: 100%;
  height: 6rem;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
header div:nth-child(2) {
  text-align: center;
  flex: 2;
}
header div {
  flex: 1;
}
header div img {
  height: 5rem;
}

.header_right {
  display: flex;
  text-align: center;
}
.header_right p{
  margin-top: 2rem;
  top:50%;
  font-weight: bold;
}
.header_right a {
  flex: 1;
  text-decoration: none;
}
.header_right a:last-child img {
  border-radius: 100%;
}
.application_status {
  max-width: 92%;
  text-align: center;
  margin: 1rem auto;
  display: flex;
}
.application_status div {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  border-radius: .5rem;
  margin: 0 1rem;
  padding: 1rem;
  justify-content: space-around;
}
.application_status div img {
  height: 4rem;
}
.application_status div h1 {
  font-size: 4rem;
  margin: 0;
  max-width: 70%;
}
.application_status div p {
  margin: 0rem 0.5rem;
  margin-left: auto;
}
.application_status div hr {
  width: 100%;
  border-top: 1px solid rgb(167, 166, 166);
  margin: 0rem 0rem;
  margin-top: auto;
}
.applicant_list_section {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  border-radius: 1rem;
  width:90%;
  margin: 1rem auto;
  height: 40rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.dynamic_controls {
  display: flex;
  padding-top: 1rem;
  margin: 0 1rem;
}
.dynamic_controls div {
  height: 3rem;
}
.dynamic_controls div:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.dynamic_controls div:last-child {
  display: inline-flex;
  margin-right: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}
#add_user_btn {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  color: rgb(96, 171, 240);
  border: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}
#filter_user_btn {
  border-radius: 10%;
  height: 3rem;
  border: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
  margin-left: auto;
}
#add_user_btn img {
  height: 1rem;
}
#filter_user_btn img,
#search_user_btn img {
  height: 2rem;
  margin: 0.5rem;
}
#search_user_btn {
  background-color: rgb(96, 171, 240);
  height: 3rem;
  border: white;
}
#search_user_input {
  height: 3rem;
  /* width:12.5rem; */
  display: inline-block;
  border-radius: 0;
  background-color: rgb(237, 234, 234);
  border-color: rgb(237, 234, 234);
}
#add_user_btn:focus,
#filter_user_btn:focus,
#search_user_btn:focus {
  border: white;
  
  outline: rgb(1, 132, 255);
  outline-style: solid;
  z-index: 1;
}


#search_user_input:focus {
  border-color: rgb(237, 234, 234);
  box-shadow: initial;
}
#dynamic_table{
  height:32rem;
  /* position: relative; */
}
#dynamic_table table thead,
#dynamic_table table thead tr,
#dynamic_table table thead tr th {
  border: none;
}
#dynamic_table table thead tr th{
  height:4rem;
  position:sticky;
  background-color: white;
  box-shadow: 0px 2px 1px -.5px rgba(0, 0, 0, 0.26);
  top:0;
  vertical-align: middle;
}
#dynamic_table table tr{
  text-align: center;
}
.col_name_style{
  text-align: left;
  width:15rem;
  padding-left: 1rem;
  /* padding not working here fix it */
}
#user_table_body tr{
  height:4rem;
}
.recommended_style,
.pending_style,
.rejected_style
{
  border-radius:2rem;
  padding:0 .1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: .8em;
}
.recommended_style{
  border:3px solid rgb(99,225,134);
}
.pending_style{
  border:3px solid rgb(234,238,31);  
}
.rejected_style{
  border:3px solid rgb(231,66,66);  
}
/* styling scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:none; 
  width:0px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  max-width: 50%;
  border-radius:10px;
  background: rgb(218, 218, 218); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(117, 117, 117); 
  }
  