body {
  margin: 0;
  padding: 0;
  background-color: #60abf0;
}
header {
  width: 100%;
  height: 6rem;
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
header div:nth-child(2) {
  text-align: center;
  flex: 2;
}
header div {
  flex: 1;
}
header div img {
  height: 5rem;
}

.header_right {
  display: flex;
  text-align: center;
}
.header_right p {
  margin-top: 2rem;
  font-weight: bold;
}
.header_right a {
  flex: 1;
  text-decoration: none;
}
.header_right a:last-child img {
  border-radius: 100%;
}
.application_status {
  max-width: 92%;
  text-align: center;
  margin: 1rem auto;
  display: flex;
}
.application_status div {
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  border-radius: 0.5rem;
  margin: 0 1rem;
  padding: 1rem;
  justify-content: space-around;
}
.application_status div:first-child {
  margin-left: 0px;
}
.application_status div:last-child {
  margin-right: 0px;
}
.application_status div img {
  height: 4rem;
}
.application_status div h1 {
  font-size: 2.5rem;
  margin: 0;
  max-width: 70%;
}
.application_status div p {
  margin: 0rem 0.5rem;
  margin-left: auto;
}
.application_status div hr {
  width: 100%;
  border-top: 1px solid rgb(167, 166, 166);
  margin: 0rem 0rem;
  margin-top: auto;
}
.applicant_list_section {
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.26);
  background-color: white;
  border-radius: 1rem;
  width: 92%;
  margin: 1rem auto;
  height: 40rem;
}
.applicant_list_section hr {
  margin: 0.1rem;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.dynamic_controls {
  display: flex;
  margin: 0 1rem;
}
.dynamic_controls div {
  height: 3rem;
}
.dynamic_controls div:first-child {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  margin-right: 0.5rem;
}

.dynamic_controls div:last-child {
  display: inline-flex;
  margin: 1rem;
  margin-left: 0.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}
#add_user_btn {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  color: rgb(96, 171, 240);
  border: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
}
#filter_user_btn {
  border-radius: 10%;
  height: 3rem;
  border: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.26);
  margin-left: auto;
}
#add_user_btn img {
  height: 1rem;
}
#filter_user_btn img,
#search_user_btn img {
  height: 2rem;
  margin: 0.5rem;
}
#search_user_btn {
  background-color: rgb(96, 171, 240);
  height: 3rem;
  border: white;
}
#search_user_input {
  height: 3rem;
  display: inline-block;
  border: 0;
  border-radius: 0;
  background-color: rgb(237, 234, 234);
  border-color: rgb(237, 234, 234);
}
#add_user_btn:focus,
#filter_user_btn:focus,
#search_user_btn:focus {
  border: white;

  outline: rgb(1, 132, 255);
  outline-style: solid;
  z-index: 1;
}

#search_user_input:focus {
  border-color: rgb(237, 234, 234);
  box-shadow: initial;
}
#dynamic_table {
  height: 32rem;
  /* position: relative; */
}
#dynamic_table table thead,
#dynamic_table table thead tr,
#dynamic_table table thead tr th {
  border: none;
}
#dynamic_table table thead tr th {
  height: 4rem;
  position: sticky;
  background-color: white;
  box-shadow: 0px 2px 1px -0.5px rgba(0, 0, 0, 0.26);
  top: 0;
  vertical-align: middle;
}
#dynamic_table table tr {
  text-align: center;
}
.col_name_style {
  text-align: left;
  width: 15rem;
  padding-left: 1rem;
  /* padding not working here fix it */
}
#user_table_body tr {
  height: 4rem;
}
.recommended_style,
.pending_style,
.rejected_style {
  border-radius: 2rem;
  padding: 0 0.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.8em;
}
.recommended_style {
  border: 3px solid rgb(99, 225, 134);
}
.pending_style {
  border: 3px solid rgb(234, 238, 31);
}
.rejected_style {
  border: 3px solid rgb(231, 66, 66);
}
/* styling scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  width: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  max-width: 50%;
  border-radius: 10px;
  background: rgb(218, 218, 218);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 117, 117);
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

#add_user_section {
  display: none;
  position: fixed;
  background-color: white;
  width: 35rem;
  font-family: sans-serif;
  left: calc(50% - 17.5rem);
  top: 20%;
  border-radius: 0.8rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: 20;
  overflow: hidden;
}
#add_user_section p {
  margin: 0;
}
#add_user_section.visible {
  display: block;
}
#add_user_content {
  padding: 1rem;
}
.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}
.itemlb1 {
  grid-area: itemlb1;
}
.itemlb2 {
  grid-area: itemlb2;
}
.itemlb3 {
  grid-area: itemlb3;
}
.itemlb4 {
  grid-area: itemlb4;
}
.itemlb5 {
  grid-area: itemlb5;
}
.itemlb6 {
  grid-area: itemlb6;
}
.itemlb7 {
  grid-area: itemlb7;
}
.itemlb8 {
  grid-area: itemlb8;
}
.itemlb9 {
  grid-area: itemlb9;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "itemlb1 itemlb1 item1 item1 item1 item1"
    "itemlb2 itemlb2 item2 item2 item2 item2"
    "itemlb3 itemlb3 item3 item3 item3 item3"
    "itemlb4 itemlb4 itemlb5 itemlb5 itemlb6 itemlb6"
    "item4 item4 item5 item5 item6 item6"
    "itemlb7 itemlb7 item7 item7 item7 item7"
    "itemlb8 itemlb8 item8 item8 item8 item8"
    "itemlb9 itemlb9 item9 item9 item9 item9";
  grid-gap: 0.2rem;
}
#add_user_actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

#add_user_actions button {
  font-family: sans-serif;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgb(237,234,234);
  background: rgb(237,234,234);
  color: black;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
}

#add_user_actions button:hover,
#add_user_actions button:active {
  background: rgb(96,171,240);
  border-color: rgb(96,171,240);
}
#add_user_actions .cancel_btn:active,
#add_user_actions .cancel_btn:hover{
  background:rgb(231,66,66);
  border-color: rgb(231,66,66);
}


@media screen and (max-width: 950px) {
  .application_status div h1 {
    font-size: 2rem;
    max-width: 100%;
  }
  header {
    height: 5rem;
    padding: 0.5rem 2rem;
  }
  header div img {
    height: 4rem;
  }
  .header_right p {
    margin-top: 1.7rem;
  }
}

@media screen and (max-width: 870px) {
  .application_status div {
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
  .application_status div img {
    max-height: 4rem;
    margin: 0px auto;
  }
  .application_status div h1 {
    margin: 0px auto;
  }
  .application_status div p {
    margin: 0px auto;
  }
  .application_status div {
    margin: 0 0.75rem;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: 4.5rem;
    padding: 0.5rem 1.5rem;
  }
  header div img {
    height: 3.5rem;
  }
  .header_right p {
    margin-top: 1.4rem;
  }
  .application_status {
    max-width: 95%;
  }
  .applicant_list_section {
    width: 95%;
  }
  .application_status div {
    margin: 0 0.5rem;
  }
}
@media screen and (max-width: 620px) {
  #add_user_section {
    
    width: 25rem;
    top: 20%;
    left:calc(50% - 12.5rem);
    
  }
  .item2{
    flex-direction: column;
  }
  .grid-container {
    grid-template-areas:
      "itemlb1 itemlb1 item1 item1 item1 item1"
      "itemlb2 itemlb2 item2 item2 item2 item2"
      "itemlb3 itemlb3 item3 item3 item3 item3"
      "itemlb4 itemlb4 item4 item4 item4 item4"
      "itemlb5 itemlb5 item5 item5 item5 item5"
      "itemlb6 itemlb6 item6 item6 item6 item6"
      "itemlb7 itemlb7 item7 item7 item7 item7"
      "itemlb8 itemlb8 item8 item8 item8 item8"
      "itemlb9 itemlb9 item9 item9 item9 item9";
  }
  #add_user_actions {
    justify-content: space-between;
  }
  #add_user_actions button{
    flex:1;
  }

}
@media screen and (max-width: 510px) {
  .application_status {
    flex-direction: column;
  }
  .application_status div {
    flex-direction: row;
    width: 100%;
    margin: 0.2rem 0px;
    height: 5rem;
    padding: 0.5rem;
    align-items: center;
  }
  .application_status div img {
    height: 4rem;
  }
  .application_status div h1 {
    width: 25%;
    max-width: 30%;
  }
  .application_status div p {
    width: 22%;
    max-width: 30%;
  }
  .break {
    display: none;
  }
  .dynamic_controls {
    flex-direction: column;
    margin: 0rem 0.5rem;
  }
  .dynamic_controls div:first-child {
    margin: 1rem;
    margin-bottom: 0.5rem;
  }
  .dynamic_controls div:last-child {
    margin: 0.5rem 1rem;
  }
  header {
    height: auto;
    flex-wrap: wrap;
  }
  header div {
    flex: 1;
    flex-basis: 50%;
    text-align: center;
  }
  header div:nth-child(2) {
    flex: 1;
    flex-basis: 50%;
  }
  .header_right {
    flex-basis: 100%;
    padding-top: 0.4rem;
  }
}
@media screen and (max-width:420px)
{
  #add_user_section {
    
    width: 95%;
    top: 17%;
    left:2.5%;
    
  }
  .grid-container {
    grid-template-columns: 1.2fr 1.2fr 1fr 1fr 1fr;
    grid-template-areas:
      "itemlb1 itemlb1 item1 item1 item1"
      "itemlb2 itemlb2 item2 item2 item2"
      "itemlb3 itemlb3 item3 item3 item3"
      "itemlb4 itemlb4 item4 item4 item4"
      "itemlb5 itemlb5 item5 item5 item5"
      "itemlb6 itemlb6 item6 item6 item6"
      "itemlb7 itemlb7 item7 item7 item7"
      "itemlb8 itemlb8 item8 item8 item8"
      "itemlb9 itemlb9 item9 item9 item9";
  }
}